button {
    aspect-ratio: 16/9;
    width: 69px;
}

main {
    display: flex;
    justify-content: center;
}

article {
    background: rgb(119, 173, 234);
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
}

article h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

article p {
    font-size: larger;
    padding: 10px;
}