/* DEFAULT SETTINGS */
* {
    font-family: Courier, monospace;
    background-color: aquamarine;
    /* border: solid 1px; */
}



#ponytown {
    display: flex;
    justify-content: center;
}

#home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-header>h1 {
    margin: 5px 0px 0px 0px;
}

#home-header>h2 {
    margin: 5px 0px 0px 0px;
}

h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline;
}

h1.title {
    margin: 0px;
    padding: 25px;
}

ul {
    list-style-type: none;
    display: flex;
    width: 40px;
}


.content,
.content>p {
    display: flex;
    background-color: rgb(80, 204, 163);
    margin-right: 60px;
}

.content>p {
    flex: 1;
}



/* NAVIGATION */

.nav-list {
    display: flex;
    flex-direction: column;
    padding: 0 60px 0 20px;
    margin-right: 30px;
}

div.people {
    font-size: 20px;
}

div.projects {
    font-size: 20px;
    margin-top: 7px;
}

button {
    height: 40px;
    width: 90px;
    background-color: aquamarine;

}

#about {
    margin-bottom: 20px;
    font-size: large;
    font-weight: 600;
}

button:hover {
    opacity: 0.7;
}

a>img:hover {
    opacity: 0.7;
}

/* MISC */
p {
    padding: 20px;
    margin: 30px;
}



/* DESCRIPTION */

div.desc {
    font-size: 30px;
}

img.desc {
    display: flex;
    padding: 10px 10px 10px 10px;
    margin: -10px;
    height: 100px;
    width: 100px;
    align-self: center;
}

p.desc {
    display: flex;
    flex: 1 1 0;
}

/* INFO / OCCUPATION ETC */
.info {
    display: flex;
    justify-content: center;
}

/* LIST OF ALLIES */
.allies {
    display: flex;
    justify-content: center;
}

div.allies {
    display: flex;
}

ul.allies {
    padding: 20px;
    margin: -20px;
}

ul.allies>li {
    margin: 5px;
    padding: 10px;

}

img.allies {
    width: 80px;
    height: 80px;
    border: solid 3px aqua;
}